.gpt3 {
  &__features-container {
    &__feature {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin: 1rem;
      &-title {
        flex: 1;
        margin-right: 2rem;
        max-width: 180px;
        h1 {
          font-family: var(--font-family);
          font-weight: 800;
          font-size: 1.5rem;
          line-height: 4.6875rem;
          letter-spacing: -0.04em;
          color: #fff;
        }
        div {
          margin-bottom: 0.25rem;
          width: 38px;
          height: 3px;
          background: var(--gradient-bar);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          color: #fff;
        }
      }
      &-text {
        display: flex;
        flex: 2;
        max-width: 390px;
        p {
          font-family: var(--font-family);
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.875rem;
          color: var(--color-text);
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .gpt3 {
    &__features-container {
      &__feature {
        margin: 1rem 0;
        &-title {
          h1 {
            font-size: 0.875rem;
            line-height: 1.375rem;
          }
          p {
            font-size: 0.75rem;
            line-height: 1.25rem;
          }
        }
      }
    }
  }
}
