.gpt3 {
  &__blog {
    display: flex;
    flex-direction: column;
    &-heading {
      margin-bottom: 5rem;
      width: 100%;
      text-align: left;
      h1 {
        font-family: var(--font-family);
        font-weight: 800;
        font-size: 3.875rem;
        line-height: 4.6875rem;
        letter-spacing: -0.04em;
      }
    }
    &-container {
      display: flex;
      flex-direction: row;
      &_groupA {
        flex: 0.75;
        margin-right: 2rem;
      }
      &_groupB {
        flex: 1 1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .gpt3 {
    &__blog {
      &-container {
        flex-direction: column-reverse;
        &_groupA {
          margin: 2rem 0;
          .gpt3__blog-container_article {
            width: 48%;
            &-image {
              height: 250px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .gpt3 {
    &__blog {
      &-heading {
        h1 {
          font-size: 2.875rem;
          line-height: 3.25rem;
        }
      }
      &-container {
        &_groupA {
          .gpt3__blog-container_article {
            width: 100%;
          }
        }
        &_groupB {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .gpt3 {
    &__blog {
      &-heading {
        h1 {
          font-size: 2.125rem;
          line-height: 2.625rem;
        }
      }
    }
  }
}
